# DynamoGuard API Configuration

DYNAMO_API_ENDPOINT = "https://api.dynamo.ai"
DYNAMO_API_KEY = "<KEY>"
MODEL_ID = "<MODEL_ID>"
SESSION_ID = "<SESSION>"

# Test configuration
PROMPTS_FILE = "prompts.json"
RESULTS_DIR = "results"
